.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.align-item {
  align-items: center;
}

.invert {
  filter: invert(1);
}

.bg-grey {
  background-color: #121212;
  color: white;
}

.bg-black {
  background-color: black;
  color: white;
}

.rounded {
  border-radius: 7px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 14px 0px 10px 33px;
}

.m-1 {
  margin: 10px;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #424242; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #616161; /* Thumb color on hover */
}